Source: python-fingerprint
Maintainer: Philipp Meisberger <team@pm-codeworks.de>
Section: python
Priority: optional
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9),
               python (>= 2.7)
Homepage: https://sicherheitskritisch.de

Package: python-fingerprint
Depends: python (>= 2.7),
         python-serial,
         python-imaging,
         ${python:Depends}, ${misc:Depends}
Architecture: all
Description: Python written library for using the ZFM-20 fingerprint sensor
 This library is required for using the ZhianTec ZFM-20 fingerprint sensor
 (known as "Arduino fingerprint sensor") in Python.
